* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

body {
  background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/f7093b86128681.5d909dad4f487.jpg') fixed no-repeat;
  background-size: cover;
  height: 100vh;
}

.login-interface {
  width: 375px;
  margin: auto;
  margin-top: 75px;
  background: #fff;
  border-radius: 15px;
  padding: 24px;
  position: relative;
  box-shadow: 0 8px 16px #382ae1;
}

.exit {
  position: absolute;
  color: #9f9f9f;
  top: 24px;
  right: 24px;
  font-size: 24px;
  cursor: pointer;
}

.exit:hover {
  opacity: 0.8;
}

.header {
  padding-bottom: 24px;
  border-bottom: 1px solid #f1f1f1;
}

h2.title {
  margin-bottom: 24px;
  color: #3c3c3c;
}

.login-gg {
  border: 2px solid #f1f1f1;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  font-weight: 600;
  color: #333;
}

i.fab.fa-google {
  color: #9f9f9f;
}

.content {
  padding: 24px 0;
  border-bottom: 2px solid #f1f1f1;
}

input[type="password"], input[type="email"]   {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  font-size: 16px;
  display: inline-block;
}

.mt-16 {
  margin-top: 16px;
}

.check-box {
  margin: 24px 0;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
}

.btn-login {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: #392add;
  font-size: 16px;
  margin-bottom: 24px;
  cursor: pointer;
}

.btn-login:hover {
  opacity: 0.8;
}

.forgot, .sign-up {
  color: #548dbc;
  text-align: center;
  font-weight: 600;
}

.footer {
  text-align: center;
  margin-top: 24px;
  line-height: 1.5;
}

