* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu {
  background: #66FFCC;
}

.menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.menu-item {
  text-transform: uppercase;
}

.menu-item:hover {
  color: #FFCCCC;
}

.box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
  justify-content: space-around;
  border: 1px solid;
  padding: 8px;
}

.box-item {
  border: 1px solid;
  width: 30%;
  text-align: center;
  margin-bottom: 1rem;
  overflow: hidden;
  height: 300px;
}

p {
  padding: 0;
  margin: 0;
}

.box-item:hover {
  background-color: #66FF66;
  font-size: 18px;
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.box-item img {
  width: 100%;
}

.sub-nav-price {
  position: relative;
}

.sub-nav-price:hover .sub-price ul {
  display: block;
}

.sub-price ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  background:  #66FFCC;
  width: 300px;
  align-items: stretch;
  display: none;
  position: absolute;
  top: 25px;
}

.sub-price li {
  color: #330066;
  text-transform: capitalize;
}

.color-section {
  color: #330066 ;
  gap: 1rem;
}

.title {
  background: #66FFCC;
  width: 100%;
}

.box-right-1 {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-right: 1rem;
}

.t-box {
  margin: 0 auto;
  gap: 1rem;
}

.box-2 p {
  background-color: pink;
}

.box-2 {
  text-align: center;
}

.box-2 img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}